* {
  box-sizing: border-box;
}

body {
  background-color: rgba(218, 214, 214, 0.39);
}

#home {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 35px;
  color: rgb(226, 225, 225);
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 20px;
  text-decoration: none;
}
#home:hover {
  background-color: rgb(255, 249, 249);
}

header {
  min-height: 10vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7))
    url(images/whitecake.png.jpg);
  background-position: center;
}

h1,
p {
  padding-left: 10%;
}

#survey-form {
  width: 50%;
  box-sizing: border-box;
  padding-left: 10%;
}
